body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Jacques Francois', serif;
    font-family: 'Just Me Again Down Here', cursive;

}

* {
    box-sizing: border-box;

}


.cantainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.intro, html {
    width: 100%;
    height: 100vh;

}

.logo {
    position: absolute;
    width: 257px;
    height: 62px;
    left: 592px;
    top: 92px;
}
